<!DOCTYPE html>
<head><title> SHRED LIFE | My workout profile</title>

<link rel="shortcut icon    " href="img/shortcutlogo.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/home.css">
 </head>
<body>
    <header>
        <p class="title">ShredLife&#10084;&#65039;</p>
        <div class="navclass">
            <div class="navtogether"><i class="fa fa-dashboard"> </i> <p>Dashboard</p></div>   <span class="separator"> </span>    <div class="navtogether"><i class="fa fa-folder-open" ></i><p>Programs</p></div> <span class="separator"> </span>
        <div class="navtogether"><i class="fa fa-calendar"> </i> <p>Calander</p></div>   <span class="separator"> </span> <a href="help.hbs"><div class="navtogether selected"><i class="fa fa-question-circle"></i>
  <p>Help</p></div></a>
        </div>
    </header>
    {{!-- <p style="font-size: x-large;">Hello there! {{user}}</p> --}}

</body>
</html>