<!DOCTYPE html>
<head><title> SHRED LIFE | My workout profile</title>

<link rel="shortcut icon    " href="img/shortcutlogo.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/home.css">
 </head>
<body>
    <header>
        <p class="title">ShredLife&#10084;&#65039;</p>
        <div class="navclass">
            <div class="navtogether selected"><i class="fa fa-dashboard"> </i> <p>Dashboard</p></div>   <span class="separator"> </span>    <div class="navtogether"><i class="fa fa-folder-open" ></i><p>Programs</p></div> <span class="separator"> </span>
        <div class="navtogether"><i class="fa fa-calendar"> </i> <p>Calander</p></div>   <span class="separator"> </span> <div class="navtogether"><i class="fa fa-question-circle"></i>
  <p>Help</p></div>
        </div>
    </header>

    <div class="bottom-sep"> </div>

    <div class = "personal"><div class="user-info"><img src="/img/download.png" alt="user image" width="175" height="175"><div class="info"><p>{{user}}</p> <label for="file">fat burner :</label>
<progress id="file" value="100" max="100">  </progress> <label for="file">Bulk program:</label>
<progress id="file" value="32" max="100"></progress>
    </div></div><span class="separator"></span>    <i  class="fa mes">&#xf114;</i></div></div>
    {{!-- <p style="font-size: x-large;">Hello there! {{user}}</p> --}}

</body>
</html>