<!DOCTYPE html>
<html>
    <head>
        <title>Shred Life</title>
        <link rel="shortcut icon    " href="img/shortcutlogo.png">
        <link rel="stylesheet" href="css/index.css">
    </head>
<BODY><p>HEY THERE USE SON OF A BISHH</p>

    <div id="hell"><p></p></div>
    <script rel="text/javascript">
        let x=0;
        if(!x) {
            const a = document.querySelector('#hell');
            a.innerText ='hello there'
        }

    </script>

</BODY>
</html>