<!DOCTYPE html>
<head><title> SHRED LIFE | My workout profile</title>

<link rel="shortcut icon    " href="img/shortcutlogo.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/home.css">
 </head>
<body>
    <header>
        <p class="title">ShredLife&#10084;&#65039;</p>
        <div class="navclass">
            <div class="navtogether"><a href="/"><i class="fa fa-dashboard"> </i> <p>Dashboard</p></a></div>   <span class="separator"> </span>    <div class="navtogether selected" ><a href="/program" ><i class="fa fa-folder-open" ></i><p>Programs</p></a></div> <span class="separator"> </span>
        <div class="navtogether"><a href="/calender" ><i class="fa fa-calendar"> </i> <p>Calander</p></a></div>   <span class="separator"> </span> 
         <div class="navtogether"><a href="/video" ><i class="fa fa-video-camera"> </i> <p>Video</p></a></div>   <span class="separator"> </span> 
        <div class="navtogether"><a href="help"><i class="fa fa-question-circle"></i>
  <p>Help</p></a></div>
        </div>
    </header>

    <div class="bottom-sep"> </div>

    <div class="showprog">
        <div class="prog"><h2>Bulk program: Enroll for weight gain</h2><button id="bulk" onclick="enroll(this.id)" class="enroll">Enroll</button></div>
        <div class="prog"><h2>Shred program: Enroll for weight loss</h2><button id="shred" onclick="enroll(this.id)" class="enroll">Enroll</button></div>
        <div class="prog"><h2>Yoga program: Enroll for flexibility</h2><button id="yoga" onclick="enroll(this.id)" class="enroll">Enroll</button></div> 


    </div> 




<script rel="text/javascript" src="js/index.js"></script>

</body>
</html>
